body
{
  color       : #ffffff;
  font-family : Monospace;
  font-size   : 28px;
  margin      : 0px;
  overflow    : hidden;
  text-shadow : -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}

#hud
{
  border   : 1px solid white;
  position : absolute;
  width    : 200px;
  height   : 200px;
  top      : 5px;
  right    : 5px;
  z-index  : 101;
}

#score
{
  text-align : left;
  position   : absolute;
  top        : 0px;
  left       : 0px;
  padding    : 5px;
  z-index    : 100;
}

#help
{
  font-size  : 20px;
  text-align : left;
  position   : absolute;
  left       : 0px;
  bottom     : 0px;
  padding    : 5px;
  z-index    : 100;
}

#gameOver
{
  position  : fixed;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  z-index   : 100;
}

#credits
{
  font-size  : 20px;
  text-align : right;
  position   : absolute;
  bottom     : 0px;
  right      : 0px;
  padding    : 5px;
  z-index    : 100;
}
